  <h1>Czytelnicy</h1>
  <div class="button-group"></div>
  <form (ngSubmit)="onSubmit()" [formGroup]="usersForm">
    <div class="form-group" formGroupName="user">
      <label>Imię i Nazwisko</label>
      <input class="form-control" id="fullname" type="text" formControlName="fullname"/>
      <p
        class="text-muted"
        *ngIf="
        usersForm.get('user.fullname').invalid &&
        usersForm.get('user.fullname').touched
      "
      >
        Imie i nazwisko nie może być puste!
      </p>

      <label class="pt-1">Wiek</label>
      <input class="form-control" id="age" type="number" formControlName="age"/>
      <p
      class="text-muted"
      *ngIf="
        usersForm.get('user.age').invalid &&
        usersForm.get('user.age').touched
      "
    >
      Wiek nie może być pusty!
    </p>
    </div>
    <button class="btn btn-success btn-sm" type="submit" [disabled]="usersForm.invalid">
      <i class="fa fa-plus mr-2"></i>Dodaj
    </button>
  </form>
  <br>
  <table class="table table-hover table-sm">
    <thead>
      <tr>
        <th>Imię i nazwisko</th>
        <th>Wiek</th>
        <th>Opcje</th>
      </tr>
    </thead>
    <tbody *ngFor="let user of users; let i = index">
      <td>{{ user.fullname }}</td>
      <td>{{ user.age }}</td>
      <td>
          <button class="btn btn-warning btn-sm mr-1">
            <i class="fa fa-edit mr-2"></i>Edytuj
          </button>
          <button class="btn btn-danger btn-sm" (click)="onDelete(i)">
            <i class="fa fa-trash mr-2"></i>Usuń
          </button>
          <button class="btn btn-info btn-sm" *ngIf="pickedBook" (click)="onLend({fullname: user.fullname, age: user.age})">
            <i class="fa fa-check-circle mr-2"></i>Wypożycz
          </button>
        </td>
    </tbody>
  </table>
