/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';

body
{
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6
{
    font-family: Raleway, sans-serif;
}

main
{
    margin-top: 40px;
}

main > .container-fluid > .row > .col
{
    border-left: 2px solid #007bff;
    margin-left: 10px;
}

main > .container-fluid > .row > .col > form
{
    margin-top: 20px;
}

main > .container-fluid > .row > .col > table
{
    margin-top: 20px;
}
