<!-- NavBar -->
<app-header></app-header>
<!-- Main -->
<!-- Newsletter -->
<app-newsletter></app-newsletter>
<!-- Alert -->
<!-- Książki -->
<div class="container-fluid">
  <main class="mt-4">
    <div class="row">
      <app-books class="col"></app-books>
      <span class="border-left"></span>
      <!-- Czytelnicy -->
      <app-users class="col"></app-users>
      <span class="border-left"></span>
      <!-- Wypożyczone -->
      <app-lend class="col"></app-lend>
    </div>
  </main>
</div>
