  <h1>Wypożyczone</h1>
  <table class="table table-hover table-sm">
    <thead>
      <tr>
        <th>Tytuł</th>
        <th>Wypożyczający</th>
        <th>Data Wypożyczenia</th>
        <th>Opcje</th>
      </tr>
    </thead>
    <tbody *ngFor="let lend of lended; let i = index">
      <td>{{ lend.title }}</td>
      <td>{{ lend.lender.fullname }}</td>
      <td>{{ lend.date | date: 'short' }}</td>
      <td>
          <button class="btn btn-primary btn-sm mr-1" (click)="onReturn(i)">
            <i class="fa fa-check mr-2"></i>Oddaj
          </button>
    </tbody>
  </table>
