  <h1>Czytelnicy</h1>
  <div class="button-group"></div>
  <form action="/">
    <div class="form-group">
      <label for="">Imię i Nazwisko</label>
      <input class="form-control" id="fullname" type="text" />
    </div>
    <div class="form-group">
      <label for="">Wiek</label>
      <input class="form-control" id="age" type="text" />
    </div>
    <button class="btn btn-success btn-sm">
      <i class="fa fa-plus mr-2"></i>Dodaj
    </button>
  </form>
  <br>
  <table class="table table-hover table-sm">
    <thead>
      <tr>
        <th>Imię i nazwisko</th>
        <th>Wiek</th>
        <th>Opcje</th>
      </tr>
    </thead>
    <tbody *ngFor="let user of users">
      <td>{{ user.fullname }}</td>
      <td>{{ user.age }}</td>
      <td>
          <button class="btn btn-warning btn-sm mr-1">
            <i class="fa fa-edit mr-2"></i>Edytuj
          </button>
          <button class="btn btn-danger btn-sm">
            <i class="fa fa-trash mr-2"></i>Usuń
          </button>
        </td>
    </tbody>
  </table>
