<div class="col">
  <a href="https://pl.wikipedia.org/wiki/Newsletter" target="_blank">
      <div class="alert alert-dismissible" style="background-color: #1b1b57; background-image: url('assets/bgimg.png'); background-position: 50% 50%; background-repeat: no-repeat">
          <div class="container">
              <h4 class="d-inline text-light align-middle">Zapisz Się Na Newsletter!!</h4>
              <input class="form-control d-inline-block ml-3 align-middle" type="text" name="input-newsletter" style="width: 270px;">
              <input class="btn btn-light ml-1 mr-3 align-middle" data-dismiss="alert" type="submit" value="Zapisz Się!" id="Newsletter-button">
              <i>
                  <h5 class="d-inline ml-3 align-middle text-light">Kliknij Mnie!</h5>
              </i>
              <i>
                  <h5 class="d-inline ml-3 align-middle text-light">Kliknij Mnie!</h5>
              </i>
              <i>
                  <h5 class="d-inline ml-3 align-middle text-light">Kliknij Mnie!</h5>
              </i>
          </div>
      </div>
  </a>
</div>
