<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <!-- routerLinkActiveOptions gdy uzywamy exact: true nie uzywa cointains na sciezce tylko jest uzyte gdy sciezka jest idealnie taka jak chcemy -->
        <li
          role="presentation"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
        <!-- do tego odnosi się powyższy komentarz, będzie dodana klasa 'active' tylko i wylacznie jesli sciezka bedzie np: localhost:4200/ -->
          <a routerLink="/">Home</a>
        </li>
        <li role="presentation" routerLinkActive="active">
          <a routerLink="/servers">Servers</a>
        </li>
        <!-- jesli uzywamy atrybutow, trzeba wpisac adres w '' -->
        <!-- <li role="presentation"><a [routerLink]="'/users'">Users</a></li> -->
        <li role="presentation" routerLinkActive="active">
          <a [routerLink]="['/users']">Users</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
